
.visionContainer{
    min-height: 80vh;
} 
.vision{
    font-size: 3.5rem;
    margin-bottom: 10vh;
}

.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.blog_post {
    background: #fff;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.7s;
}
  .blog_post:hover{
    background: linear-gradient(90deg, #ff9966, #ff5e62);
  
  }
  

.container_copy {
  padding: 2.8rem 2rem 2rem 2rem;
}

.img_pod {
  height: 80px;
  width: 80px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_pod img {
  height: 70%;
  width: 70%;
  position: relative;
  
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}


h5 {
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #333;
}

p {
  margin: 0 0 0rem 0;
  font-size: 1.2rem;
  line-height: 1.45;
  color: #333;
}
/* Team CArd */
.team{
    min-height: 100vh;
}
.team h1{
    font-size: 3.5rem;
    margin-bottom: 7vh;
}
.teamcard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 25px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    min-width: 300px;
    transition: 0.5s;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}
.teamcardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vw;
    row-gap: 5vh;
    
}   
.teamcard:hover{
    transform: scale3d(0.95,0.95,0.95);
    background: linear-gradient(90deg, #ff9966, #ff5e62);
  
}
.teamcard h3{
    font-size: 2rem;
    margin-bottom: 1vh;
    color: var(--color1);
}

.teamcard p{
    font-size: 1.2rem;
    color: var(--color1);
}

.teamcard img{
    width: 25vh;
    margin-bottom: 2.5vh;
    border-radius: 100%;
    /* border: 1.5px solid var(--color1); */
}
.teamsocial{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    
}
.teamsocial i{
    color: var(--color1);
    transition: 0.5s;
}
.teamsocial .twitter i:hover{
    transform:translateY(-2vh);
    color: #1DA1F2;
}.teamsocial .git i:hover{
    transform:translateY(-2vh);
    color: grey;
}.teamsocial .linkedin i:hover{
    transform:translateY(-2vh);
    color: #1DA1F2;
}
@media  (max-width: 900px) {
  body {
    background-color: black;
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    padding: 0 7vw;
    flex-direction: column;
}
.container_copy {
    padding: 3.8rem 1rem 1rem 1rem;
}
  .img_pod {

  }
  .visionContainer {
    padding-bottom: 10vh;
  }
}
