.contact {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    animation: slideInFrameBottom 1.5s ease-in;
  }
  .contact-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 38vw;
  }
  .contact-input input {
    background-color: transparent;
    border: 2px solid var(--color3);
    color: var(--color2);
    border-radius: 7px;
    height: 6vh;
    font-size: 1rem;
    padding: 0 2vh;
  }
  .contact-input input::placeholder {
    color: var(--color2);
  }
  .contact-input input:focus {
    border-color: var(--color2);
  }
  .contact-input textarea {
    background-color: transparent;
    border: 2px solid var(--color3);
    color: var(--color2);
    border-radius: 10px;
    width: 37vw;
    font-size: 1rem;
    padding: 2vh;
  }
  .contact-input textarea::placeholder {
    color: var(--color2);
  }
  .contact-input input:nth-child(1) {
    width: 18vw;
  }
  .contact-input input:nth-child(2) {
    width: 18vw;
  }
  .contact-input input:nth-child(3) {
    width: 18vw;
  }
  .contact-input input:nth-child(4) {
    width: 18vw;
  }
  .contact-input input:nth-child(5) {
    width: 36vw;
    height: 20vh;
  }
  #submit{
    margin-top: 5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    transition: 0.7s;
  }
  #submit:hover{
    background-color: var(--color3)!important;
    cursor: pointer;
  }
  @media (max-width:900px){
    /* Contact */
  .contact-input {
    width: 100%;
    gap: 1vh;
  }
  .contact-input input:nth-child(1) {
    width: 80%;
  }
  .contact-input input:nth-child(2) {
    width: 80%;
  }
  .contact-input input:nth-child(3) {
    width: 80%;
  }
  .contact-input input:nth-child(4) {
    width: 80%;
  }
  .contact-input textarea {
    width: 80%;
  }
  /* Contact */
  }
  @media (min-width:950px) and (max-width: 1150px){
    
      /* Contact */
  .contact-input {
    width: 100%;
    gap: 1vh;
  }
  .contact-input input:nth-child(1) {
    width: 50%;
  }
  .contact-input input:nth-child(2) {
    width: 50%;
  }
  .contact-input input:nth-child(3) {
    width: 50%;
  }
  .contact-input input:nth-child(4) {
    width: 50%;
  }
  .contact-input textarea {
    width: 50%;
  }
  }